body {
  background: #000000;
  color: #f0eaff;
}

.common-links {
  text-decoration: none;
  font-size: 24px;
  color: #b86cff;

}

.common-links:hover {
  text-decoration: underline #d946ef;
  text-underline-offset: 15px;
}

.questions {
  height: 0.5in;
  align-content: center;
  padding-left: 1%;
  background-color: #151020;
}

.questions:hover {
  background-color: #211631;
}

.setting-btn {
  font-size: 20px;
  color: #f0eaff;
  text-decoration: none;
}

.setting-btn:hover {
  text-decoration: underline #d946ef;
  text-underline-offset: 10px;
}

.receipt-img {
  height: 4in;
  object-fit: cover;
}

.btn {
  width: 5%;

  height: 0.3in;

  background-color: #2f2349;

  border: none;

  color: #f0eaff;
}

.btn:hover {
  background-color: #915fc0;
}

.date-picker {
  cursor: pointer;
  background-color: black;
  border: 2px solid #b86cff;
  height: 0.4in;
  text-align: center;
  color: white;
}

.date-picker::placeholder {
  color: #b86cff;
}

.delete-btn{
  background-color: rgb(248, 4, 4);
  color: white;
  border: none;
  height: 0.3in;
}

.delete-btn:hover{
  background-color: rgb(184, 0, 0);
  border: none;
  height: 0.3in;
}
