
.common-links {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.common-links:hover {
  text-decoration: underline black;
  text-underline-offset: 5px;
}

.questions {
  height: 0.5in;
  align-content: center;
  padding-left: 1%;
  background-color: rgb(212, 211, 211);
}

.questions:hover {
  background-color: rgb(192, 191, 191);
}

.setting-btn {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.setting-btn:hover {
  text-decoration: underline black;
  text-underline-offset: 10px;
}
